@font-face {
  font-family: 'Timmana';
  src: local('Timmana-Regular'), url(./fonts/Timmana-Regular.ttf) format('truetype');
}



/* ################################################### */
/* ################# Global Styles ################### */
/* ################################################### */

:root {
  --gray: #ececec;
  --purple: #750bcc;
  --textColor: #474747;
}


.App {
  font-family: sans-serif;
  text-align: center;
}


h2 {
  font-family: Timmana;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 24px;
  line-height: 32px;
  color: #212429;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}

h3 {
  font-family: Timmana;
  font-style: normal;
  color: #474747;
}

h4 {
  font-family: Timmana;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #474747;
}

/* ################################################### */
/* ##################### Header ###################### */
/* ################################################### */

.headerBackground {
  position: absolute;
  pointer-events: none;
  height: 60px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #585858;
  opacity: 0.06;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  overflow: auto;
}

.header_text {
  position: absolute;
  height: 60px;
  left: 40px;
  right: 0px;
  top: 10px;

  font-family: Timmana;
  font-style: normal;
  font-size: 30px;
  line-height: 32px;  

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #000000;
  order: 1;
}


.logoutButton {
  position: absolute; 
  top: 0px; 
  right: 40px;
  
  font-family: sans-serif;
  background-color: var(--purple);
  color: white;
  font-size: 16px;
  text-align: center; 

  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;

  /* margin: 10px 0px; */
  z-index: 10;
}

.qwkLogoImageHeader {
  border-radius: 18px;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ################################################ */
/* ################# Navbar ####################### */
/* ################################################ */

.navBar1 {
  position: relative;
  top: 5px;
  left: 50px;
  margin-top: 10px;
  display: block;
  margin-bottom: 50px;
  color:  var(--purple);
}

.navBar1 li {
  display: inline-block;
  padding-right: 1%;
}


.headerLinks {
  display: inline-block;
  padding-right: 1%;
}



.navLinks {
  color: var(--textColor);
}

.navLinks:hover {
  color: var(--purple);
  text-decoration: underline;
}

.active-link {
  color: var(--purple);
  text-decoration: none;
}
.active-link:hover {
  color: var(--purple);
  text-decoration: underline;
}


/* ################################################ */
/* ############### Welcome Screen ################# */
/* ################################################ */


.WelcomeBox {
  padding: 28px 40px;
  position: fixed;
  width: 404px;
  left: 518px;
  top: 220px;

  background: #ffffff;

  border: 2px solid var(--gray);
  border-radius: 16px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.qwkLogoImage {
  /* size */
  border-radius: 60px;
  height: 120px;
  width: 120;
  padding: 10px;

  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcomeText {
  text-align: center;

}

.loginPageForgotPasswordButton {
  color: var(--purple);
}

.invalidEmailOrPasswordMessage {
  color: red;
}

.super{
  order: 1;
}

/* ################################################  */
/* ############### Main Topic Page ################  */
/* ################################################  */

.externalLinksList li {
  list-style-type: none ;
}

.topic-content {
    width: 85%;
    float: right; 
}

.topic-content li {
  list-style-type: none ;
  margin-bottom: 2%;
}

.topic-content span {
  display: inline-block;
}

.image-content {
    width: 15%;
    float: left; 
    padding-left: 1%;
}

.image-content li {
    list-style-type: none ;
}

/* ################################################  */
/* ############### Profile ########################  */
/* ################################################  */

.profileItems li {
  list-style-type: none ;
}

/* ################################################  */
/* ############### BUTTON STYLES ##################  */
/* ################################################  */


.loginPurpleButton {
  /* color: #750bcc; */
  background-color: #750bcc;
  border: 2px solid white;
  cursor: pointer;

  position: static;
  width: 160px;
  height: 48px;
  left: 40px;
  top: 396px;

  border-radius: 24px;
  color: white;
  font-size: 16px;
  text-align: center; 
}
