<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387779696911-u32otlat96g0choi5cv7fb009ablar0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387779696911-u32otlat96g0choi5cv7fb009ablar0p</string>
	<key>API_KEY</key>
	<string>AIzaSyByUkVx8JZX7QDC4RoZPx_EFc-5gPY9w_I</string>
	<key>GCM_SENDER_ID</key>
	<string>387779696911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jomidProductions.qwkipedia</string>
	<key>PROJECT_ID</key>
	<string>qwkipedia-9f829</string>
	<key>STORAGE_BUCKET</key>
	<string>qwkipedia-9f829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387779696911:ios:0c9a2994e31c8e0f98467a</string>
</dict>
</plist>